version: '3'

services:

  links:
    restart: "no"
    volumes:
      - .:/app
      - go_modules:/go/pkg/mod
    command: make watch
    ports:
      - 4444:8080
    environment:
      LINKS_PORT: 8080

volumes:
  go_modules:
